<%= form_for(current_user.bids.build(auction_id: @auction.id)) do |f| %>
  <div class="form-group">
  	<%= f.label :value, class: "sr-only" %>
  	<%= f.text_field :value, class: "form-control", placeholder: "Enter Your Bid" %>
  	<%= f.hidden_field :auction_id, value: @auction.id %>
  </div>
  <%= f.submit "Submit Bid", class: "btn btn-primary" %>
<% end %>