<div class="container item-profile">
  <div class="row">
    <div class="col-lg-7 thumbnail item-card">
      <div class="row">
        <div class="col-md-3">
          <img src="http://placehold.it/200x200" alt="" class="img-responsive thumbnail">
        </div>
        <div class="col-md-8 thumbnail">
          <h3 class="inline" style="margin-top: 5px;"><%= @auction.name %></h3>
          <span style="display: block;" class="text-success">Auction <%= @auction.active ? "Live" : "Over" %></span>
          <hr>
          <p>Item for Sale: <%= link_to @auction.item.name, @auction.item if !@auction.item.nil? %></p>
          <p><b>Current Bid:</b> <span id="current-bid"><%= @auction.bids.count > 0 ? number_to_currency(@auction.bids.last.value) : "None" %></span></p>
          <% if user_signed_in? && current_user.auctioneer? && @auction.active? %>
            <%= link_to "Call Auction", call_auction_path(@auction), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1 text-center thumbnail bid-card">
      <h2 class="thumbnail">Bid on It!</h2>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <%= render "bid_form" if user_signed_in? && @auction.active? %>
        </div>
      </div>
    </div>
  </div> <!-- end of row -->
</div>