<div class="row">
  <div class="span6 offset3">
    <%= form_for @item do |f| %>

	    <% if @item.errors.any? %>
		    <div class="error_messages">
		      <h2><%= pluralize(@item.errors.count, "error") %>:</h2>
		      <ul>
		      <% @item.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
	  	<% end %>

		  <div class="field">
	      <%= f.label :name, "Item Name" %>
	      <%= f.text_field :name %>

	      <%= f.label :reserved_price, "Item price" %>
	      <%= f.text_field :reserved_price %>
	    </div>

			<br/>

			<div class="actions">
	      <%= f.submit "Create item", class: "btn btn-large btn-primary" %>
	    </div>

    <% end %>
  </div>
</div>
